
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: center;
}

table {
  margin-top: 3em;
  width: 100%;
}

.error {
  color: red;
}